* { margin: 0; padding: 0; }

body {
    text-align: left;
    background: linear-gradient(#E2CDBD, #E2C6AF);
    margin-left: 4%;
    margin-right: 4%;
}

p {
   font-size: 15pt;
   line-height: 150%;
   padding-bottom: 2%;
}

h1, h2, h3 {
    clear: both;
    color: #594639;
    text-align: center;
    margin-bottom: 2%;
}

pre {
    text-align: center;
    clear: both;
}

hr {
   background-color: #433831;
   height: 2pt;
}

/* Creating side navigation for menu links*/

blockquote {
    padding-top: 2%;
    text-align: center;
    width: 100%;
    overflow: auto;
}

.toc {
    float: left;
    padding-bottom: 0;
    font-size: 16pt;
    display: inline-block;
}

.toc > a {
    display: block;
    width: 150px;
    text-decoration: none;
    font: bold 15pt Georgia,serif;
    color: #78604F; 
    padding: 3% 3% 3% 3%;
}

.toc a:hover {
    color: #803F2D;
    font-style: italic;
}

.toc:nth-child(1) {
    color: #594639;
    font-size: 18pt;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}